name: Check
on: push
jobs:
  tests:
    strategy:
      matrix:
        version: ['3.13', '3.11', '3.12']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version }}
      - name: Install Deps
        run: pip install requirements.txt
      - name: test
        run: python -m unittest test_file.py 
